html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Đảm bảo trang chiếm đủ chiều cao */
}

.container {
    flex-grow: 1;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f8f9fa;
    text-align: center;
    line-height: 60px;
    width: 100%;
}
